<div class="main">
        <div class="container-fluid homeheader_bg parallax-window-home">
            <div class="container content-header">
                <div class="row fullwidth_bg">
                    <div class="container text-center">
                        <img class="img-Logo" src="~/Images/Logomain.png" alt="PPC-RENTAL-LOGO">
                    </div>
                </div>
                <div class="row fullwidth_bg row-combobox row-combobox-bg">
                    <div class="container">
                        <form action="" method="post">
                            <div class="row row-combobox">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <select class="form-control">
                                            <option>Quận/Huyện</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                            <option>11</option>
                                            <option>12</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <select class="form-control">
                                            <option>Phường/Xã</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <select class="form-control">
                                            <option>Đường</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-combobox">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <select class="form-control">
                                            <option>Diện tích</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <select class="form-control">
                                            <option>Giá</option>
                                            <option>Dưới 1.000.000.000</option>
                                            <option>Từ 1.000.000.000 đến 2.000.000.00</option>
                                            <option>Từ 2.000.000.000 đến 3.000.000.000</option>
                                            <option>Từ 3.000.000.000 đến 4.000.000.000</option>
                                            <option>Trên 4.000.000.000</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <select class="form-control">
                                            <option>Phòng ngủ</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-combobox">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <select class="form-control">
                                            <option>Phòng tắm</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option> 
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="btn btn-danger">Tìm Kiếm</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax-selector"></div>
        <div class="container-fluid content">
            <div class="container">
                <div class="quote">
                    <img class="banner-img-1" src="~/Images/quote-1.png" alt="quote-1.png">
                    <quote class="quote-content">
                        <p>"Nhà là nơi không chỉ có 4 bức tường mà là những nơi trái tim cùng chung nhịp điệu"</p>
                        <div class="hr-center">
                            <hr>
                        </div>
                        <cite>Sưu tầm</cite>
                    </quote>
                    <div class="img-bottom hidden-xs">
                        <img src="~/Images/cutoff.svg" alt="">
                    </div>
                </div>
                <div class="parallax-selector"></div>
                <section>
                    <div class="section-header text-center">
                        <h1 class="heading is-section">Danh sách dự án</h1>
                    </div>
                    <div class="container Featured-Sales">
                        <div class="row row-md4-content">
                            <div class="col-md-4">
                                <a href="">
                                    <div class="row outside-img">
                                        <img class="img-responsive" src="~/Images/nha1.1.jpg" alt="">
                                        <img class="img-responsive img-last" src="~/Images/nha1.2.jpg" alt="">
                                    </div>
                                    <div class="list-img-banner">Mới</div>
                                    <div class="content-project">
                                        <h3>Căn hộ Phú Mỹ Hưng <br>7 Phú Mỹ Hưng</h3>
                                        <p>500.000.000 <br>Lê Vân Nguyệt</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="">
                                    <div class="row outside-img">
                                        <img class="img-responsive" src="~/Images/nha2.1.jpg" alt="">
                                        <img class="img-responsive img-last" src="~/Images/nha2.2.jpg" alt="">
                                    </div>
                                    <div class="list-img-banner">Mới</div>
                                    <div class="content-project">
                                        <h3>The SunRise City <br>50 Tạ Quang Bửu</h3>
                                        <p>4.500.000.000<br>SunRise Company</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="">
                                    <div class="row outside-img">
                                        <img class="img-responsive" src="~/Images/nha3.1.jpg" alt="">
                                        <img class="img-responsive img-last" src="~/Images/nha3.2.jpg" alt="">
                                    </div>
                                    <div class="list-img-banner">Mới</div>
                                    <div class="content-project">
                                        <h3>Căn hộ chưng cư Hoàng Phát <br>125 Nguyễn Khác Như</h3>
                                        <p>1.500.000.000<br>Nguyễn Phương Thanh</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row row-md4-content">
                            <div class="col-md-4">
                                <a href="">
                                    <div class="row outside-img">
                                        <img class="img-responsive" src="~/Images/nha4.1.jpg" alt="">
                                        <img class="img-responsive img-last" src="~/Images/nha4.2.jpg" alt="">
                                    </div>
                                    <div class="list-img-banner">Mới</div>
                                    <div class="content-project">
                                        <h3>Chưng cư DayDream <br>130 Lũy Bán Bích</h3>
                                        <p>4.000.000.000 <br>PN Company</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="">
                                    <div class="row outside-img">
                                        <img class="img-responsive" src="~/Images/nha5.1.jpg" alt="">
                                        <img class="img-responsive img-last" src="~/Images/nha5.2.jpg" alt="">
                                    </div>
                                    <div class="list-img-banner">Mới</div>
                                    <div class="content-project">
                                        <h3>Biệt thự cổ <br>25 Lê Công Kiều</h3>
                                        <p>2.700.000.000 <br>Nguyễn Đình Tùng</p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="">
                                    <div class="row outside-img">
                                        <img class="img-responsive" src="~/Images/nha6.1.jpg" alt="">
                                        <img class="img-responsive img-last" src="~/Images/nha6.2.jpg" alt="">
                                    </div>
                                    <div class="list-img-banner">Mới</div>
                                    <div class="content-project">
                                        <h3>Villa SunSet <br>3 Điện Biên Phủ</h3>
                                        <p>3.100.000.000 <br>Nguyễn Thị Minh Tú</p>
                                    </div>
                                </a>
                            </div>
                            <a class="button-all-sale" href="">Xem Thêm</a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="parallax-selector"></div>
            <section>
                <div class="caption section-header text-center">
                    <h1 class="heading is-section">Loại Dự Án</h1>
                </div>
                <div class="row row-collections">
                    <a href="">
                        <div class="col-md-4 md4-img">
                            <img src="~/Images/big1.jpg" alt="">
                            <div class="nenmo"></div>
                            <div class="inner-md4-img">
                                <div class="chuto">Căn hộ</div>
                                <div class="chunho"></div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="col-md-4 md4-img">
                            <img src="~/Images/big4.jpg" alt="">
                            <div class="nenmo"></div>
                            <div class="inner-md4-img">
                                <div class="chuto">Chưng cư</div>
                                <div class="chunho"></div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="col-md-4 md4-img">
                            <img src="~/Images/big3.jpg" alt="">
                            <div class="nenmo"></div>
                            <div class="inner-md4-img">
                                <div class="chuto">Villa</div>
                                <div class="chunho"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="row row-collections">
                    <a href="">
                        <div class="col-md-4 md4-img">
                            <img src="~/Images/big5.jpg" alt="">
                            <div class="nenmo"></div>
                            <div class="inner-md4-img">
                                <div class="chuto">Khu đô thị</div>
                                <div class="chunho"></div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="col-md-4 md4-img">
                            <img src="~/Images/big6.jpg" alt="">
                            <div class="nenmo"></div>
                            <div class="inner-md4-img">
                                <div class="chuto">Nhà sân vườn</div>
                                <div class="chunho"></div>
                            </div>
                        </div>
                    </a>
                    <a href="">
                        <div class="col-md-4 md4-img">
                            <img src="~/Images/big7.jpg" alt="">
                            <div class="nenmo"></div>
                            <div class="inner-md4-img">
                                <div class="chuto">Khách sạn</div>
                                <div class="chunho"></div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="container button-viewcollections">
                    <a class="button-all-collections" href="">Xem thêm</a>
                </div>
            </section>
        </div>
        <div class="parallax-selector"></div>
        <div class="container-fluid on-bg-behind-content">
            <div class="row behind-content">
                <img class="behind-content" src="~/Images/behind-content.jpg" alt="">
                <div class="fullwidth_bg content-on-bg-behind">
                    <h2>Foirfeachta Villa</h2>
                    <a class="button-all-learnmore" href="">Xem thêm</a>
                </div>
                <div class="img-bottom hidden-sm hidden-xs">
                    <img class="img-bottom-behind-content" src="~/Images/cutoff.svg" alt="">
                </div>
            </div>
        </div>
        <div class="parallax-selector hidden-lg hidden-md"></div>
        <div class="container-fluid fluid-gancuoi">
            <div class="container container-gancuoi">
                <div class="row row-gancuoi">
                    <div class="section-header text-center">
                    </div>
                    <div class="col-md-4">
                        <figure>
                            <blockquote>
                                <p></p>
                            </blockquote>
                            <figcaption></figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <figure>
                            <blockquote>
                                <p></p>
                            </blockquote>
                            <figcaption></figcaption>
                        </figure>
                    </div>
                    <div class="col-md-4">
                        <figure>
                            <blockquote>
                                <p></p>
                            </blockquote>
                            <figcaption></figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax-selector"></div>
    </div>